<h4>DJ Dashboard</h4>

<%= link_to "All Genres", songs_path%><br>
<%= link_to "All Tracks", songs_path%><br>
<%= link_to "All Artists", artists_path%><br><br>
<%= link_to "Edit", edit_user_registration_path %> your profile<br>
